body{
	background-color: #ffe5b4;
	display: grid;
	grid-template-columns: 0.7fr 1fr 0.7fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 5px;
	height: 10px;
	margin: 0;
}

.MyPhoto {
	float: left;
	width: 40%;
	margin-right: 5px;
}

img{
	width: 100%;
	height: auto;
}

.Icon {
	height: 150px;
	width: 150px;
}

footer{
	 text-align: right
}

video {
	width: 100%;
}

nav {
	text-align: left;
}

nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}

nav ul li {
	margin: 0px -7px 0 0;
	display: inline-block;
	background-color: #E64A19;
}

nav a {
	display:block;
	padding:0 10px;
	color: #FFF;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
}

nav a:hover {
	background-color: #000000;
}

nav ul ul{
	display:none;
	position:absolute;
	top:100%;
}

nav ul li:hover > ul {
	display: inherit;
}

nav ul ul li{
	min-width: 170px;
	float:none;
	display:list-item;
	position:relative;
}

nav ul ul ul{
	position: absolute;
	top: 0;
	left: 100%;
}

.Poem {
	text-align: center;
	white-space: pre;
}

.AboutMe {
	text-align: left;
}

.Author {
	text-align: right;
}

article {
	text-align: center
}